body {
    background: rgb(235, 216, 206);
}
h1 {
    color: rgb(145, 11, 145);
}

div p {
    color: rgb(190, 65, 86);
}

div p:nth-last-of-type(1) {background: rgb(230, 205, 209);}
 h4 {
     color: rgb(65, 105, 112);
 }

 div:nth-of-type(even) p { 
     background: rgb(193, 193, 219);
    }

 div:nth-last-of-type(odd) p {
     background: rgb(199, 191, 201);
 }
 
 div:nth-of-type(1) em {background: rgb(229, 238, 153); font-size: medium;}

 h1:hover {
     color: teal;
 }

 h3:hover {
     color: rgb(211, 18, 18)
 }

 div p {font-size: 18px; font-style: italic;}

 #special:first-letter {font-size: 90px; color: rgb(8, 85, 85);}

 #special {border: 2px solid cornflowerblue;}

 #special {background: rgb(233, 231, 230)}